<!DOCTYPE html>
<html>
<head>
	<title>To do list </title>
	<link rel="stylesheet"  href="css/styles.css">
</head>
<body>
<div>
</div>
	<%- include('partial/header') -%>
<div>
<h1>Contact</h1>
<p><%= contactContent %></p>
</div>
<%- include('partial/footer') -%>


</body>
</html>