<!DOCTYPE html>
<html>
<head>
	<title>Blog </title>
	<link rel="stylesheet"  href="css/styles.css">
</head>
<body>
<div>
</div>
	<%- include('partial/header') -%>
<div>
<h1><%= Title %></h1>
<p><%= Post %></p>
</div>
<%- include('partial/footer') -%>


</body>
</html>